main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .info-card {
    margin-top: 2%;
    border-radius: 20px;
    width: 96%;
    height: fit-content;
    padding-bottom: 3%;
    background: linear-gradient(lightseagreen, lightseagreen);
    opacity: 0.5;
    box-shadow: 0 0 20px 5px lightseagreen;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 24px;
}

input {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
    border: 0;
    font-weight: bold;
    border-radius: 20px;
    height: 25px;
}